<div class="row">
	<table class="tabel table-bordered span4">
		<thead>
			<tr>
				<th></th>
				<th>Downloads</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><%= link_to "Case form", ("/documents/interswitch1.pdf") %></td>			
			</tr>
			<tr>
				<td>2</td>
				<td><%= link_to "Case form", ("/documents/interswitch1.pdf") %></td>
			</tr>
		</tbody>
	</table>	
</div>
