<div class="hero-unit">
	<h1>Gombe State Judiciary</h1>
	<p>This is the website of Gombe state Judiciary</p>
	<p>
		<a href="#" class="btn btn-primary btn-large">Contact Us >></a>
	</p>
</div>
<div class="row">
	<div class="span4">
		<h2>Training</h2>
		<p>For Details training information</p>
		<p>
			<a class="btn" href="#">View details >></a>
		</p>
	</div>
	<div class="span4">
		<h2>Training</h2>
		<p>For Details training information</p>
		<p>
			<a class="btn" href="#">View details >></a>
		</p>
	</div>
	<div class="span4">
		<h2>Training</h2>
		<p>For Details training information</p>
		<p>
			<a class="btn" href="#">View details >></a>
		</p>
	</div>
</div>