<% provide(:title, 'About') %>
<div class="well">
	<p>
	The Gombe State Judiciary, the third arm of the Gombe State Government came into being with the creation of the state on 1st October, 1996; vide Section 253(1) of the Constitution of the Federal Republic of Nigeria 1989.

	The Chief Judge is the head of the judiciary, having Ten (10) other High Court Judges of the State High Court. The Sharia Court of Appeal is headed by the Grand Khadi who is supported by Seven (7) other Khadis, and the judicial Service Commission is headed by the Chief Judge as the Chairman with six (6) other members and a secretary.
	</p>
</div>
	
